openapi: 3.0.0
info:
  title: Across Protocol API
  description: API documentation for Across Protocol services.
  version: 0.1.0
  x-gitbook-description-document:
    object: document
    data:
      schemaVersion: 9
    nodes:
      - object: block
        type: paragraph
        isVoid: false
        data: {}
        nodes:
          - object: text
            leaves:
              - object: leaf
                text: API documentation for Across Protocol services.
                marks: []
            key: UTBsP3rI8gea
        key: Z3cEFDkXv2dV
    key: 84ZvEwRHHdAX
  x-gitbook-description-html: <p>API documentation for Across Protocol services.</p>
servers:
  - url: https://app.across.to/api
  - url: https://testnet.across.to/api
paths:
  /suggested-fees:
    get:
      x-codeSamples:
        - lang: bash
          label: Curl
          source: |
            curl -L \
              'https://app.across.to/api/suggested-fees?inputToken=0xC02aaA39b223FE8D0A0e5C4F27eAD9083C756Cc2&outputToken=0x4200000000000000000000000000000000000006&originChainId=1&destinationChainId=10&amount=1000000000000000000'
      summary: Retrieve suggested fee quote for a deposit.
      description: >
        Returns suggested fees based on `inputToken`, `outputToken`, `originChainId`, `destinationChainId`, and `amount`. Also includes transfer limits of the system and data used to compute the fees.
      parameters:
        - name: inputToken
          in: query
          required: true
          schema:
            type: string
          examples:
            default:
              value: '0xC02aaA39b223FE8D0A0e5C4F27eAD9083C756Cc2'
          description: >
            Address of token to bridge on the _origin_ chain. Must be used together with parameter `outputToken`. For ETH, use the wrapped address, like WETH.


            Note that the address provided must exist on the specified `originChainId` below.
          x-gitbook-description-html: >-
            <p>Address of token to bridge on the <em>origin</em> chain. Must be used together with parameter <code>outputToken</code>. For ETH, use the wrapped address, like WETH.</p>

            <p>Note that the address provided must exist on the specified <code>originChainId</code> below.</p>
        - name: outputToken
          in: query
          required: true
          schema:
            type: string
          examples:
            default:
              value: '0x4200000000000000000000000000000000000006'
          description: >
            Address of token to bridge on the _destination_ chain. Must be used together with parameter `inputToken`. For ETH, use the wrapped address, like WETH.


            Note that the address provided must exist on the specified `destinationChainId` below.
          x-gitbook-description-html: >-
            <p>Address of token to bridge on the <em>destination</em> chain. Must be used together with parameter <code>inputToken</code>. For ETH, use the wrapped address, like WETH.</p>

            <p>Note that the address provided must exist on the specified <code>destinationChainId</code> below.</p>
        - name: originChainId
          in: query
          required: true
          description: |
            Chain ID where the specified `inputToken` exists.
          schema:
            allOf:
              - $ref: '#/components/schemas/ChainId'
          examples:
            default:
              value: 1
          x-gitbook-description-html: <p>Chain ID where the specified <code>inputToken</code> exists.</p>
        - name: destinationChainId
          in: query
          required: true
          description: |
            The desired destination chain ID of the bridge transfer.
          schema:
            allOf:
              - $ref: '#/components/schemas/ChainId'
          examples:
            default:
              value: 10
          x-gitbook-description-html: <p>The desired destination chain ID of the bridge transfer.</p>
        - name: amount
          in: query
          required: true
          description: >
            Amount of the token to transfer.


            Note that this amount is in the native decimals of the token. So, for WETH, this would be the amount of human-readable WETH multiplied by 1e18. For USDC, you would multiply the number of human-readable USDC by 1e6.
          schema:
            type: integer
            minimum: 1
          examples:
            default:
              value: '1000000000000000000'
          x-gitbook-description-html: >-
            <p>Amount of the token to transfer.</p>

            <p>Note that this amount is in the native decimals of the token. So, for WETH, this would be the amount of human-readable WETH multiplied by 1e18. For USDC, you would multiply the number of human-readable USDC by 1e6.</p>
        - name: recipient
          in: query
          required: false
          description: >
            Recipient of the deposit. Can be an EOA or a contract. If this is an EOA and message is defined, then the API will throw a 4xx error.


            _Example_: 0xc186fA914353c44b2E33eBE05f21846F1048bEda
          schema:
            type: string
          x-gitbook-description-html: >-
            <p>Recipient of the deposit. Can be an EOA or a contract. If this is an EOA and message is defined, then the API will throw a 4xx error.</p>

            <p><em>Example</em>: 0xc186fA914353c44b2E33eBE05f21846F1048bEda</p>
        - name: message
          in: query
          required: false
          description: >
            Calldata passed to the `recipient` if `recipient` is a contract address.  This calldata is passed to the recipient via the recipient's handleV3AcrossMessage() public function.

            _Example:_ 0xABC123
          schema:
            type: string
          x-gitbook-description-html: >-
            <p>Calldata passed to the <code>recipient</code> if <code>recipient</code> is a contract address.  This calldata is passed to the recipient via the recipient's handleV3AcrossMessage() public function.

            <em>Example:</em> 0xABC123</p>
        - name: relayer
          in: query
          required: false
          description: >
            Optionally override the relayer address used to simulate the fillRelay() call that estimates the gas costs needed to fill a deposit. This simulation result impacts the returned suggested-fees. The reason to customize the EOA would be primarily if the recipientAddress is a contract and requires a certain relayer to submit the fill, or if one specific relayer has the necessary token balance to make the fill.


            _Example:_ 0x428AB2BA90Eba0a4Be7aF34C9Ac451ab061AC010
          schema:
            type: string
          x-gitbook-description-html: >-
            <p>Optionally override the relayer address used to simulate the fillRelay() call that estimates the gas costs needed to fill a deposit. This simulation result impacts the returned suggested-fees. The reason to customize the EOA would be primarily if the recipientAddress is a contract and requires a certain relayer to submit the fill, or if one specific relayer has the necessary token balance to make the fill.</p>

            <p><em>Example:</em> 0x428AB2BA90Eba0a4Be7aF34C9Ac451ab061AC010</p>
        - name: timestamp
          in: query
          required: false
          description: >
            The quote timestamp used to compute the LP fees. When bridging with across, the user only specifies the quote timestamp in their transaction. The relayer then determines the utilization at that timestamp to determine the user's fee. This timestamp must be close (within 10 minutes or so) to the current time on the chain where the user is depositing funds and it should be <= the current block timestamp on mainnet. This allows the user to know exactly what LP fee they will pay before sending the transaction. 


            If this value isn't provided in the request, the API will assume the latest block timestamp on mainnet.


            _Example:_ 1653547649
          schema:
            type: integer
          x-gitbook-description-html: >-
            <p>The quote timestamp used to compute the LP fees. When bridging with across, the user only specifies the quote timestamp in their transaction. The relayer then determines the utilization at that timestamp to determine the user's fee. This timestamp must be close (within 10 minutes or so) to the current time on the chain where the user is depositing funds and it should be &#x3C;= the current block timestamp on mainnet. This allows the user to know exactly what LP fee they will pay before sending the transaction.</p>

            <p>If this value isn't provided in the request, the API will assume the latest block timestamp on mainnet.</p>

            <p><em>Example:</em> 1653547649</p>
        - name: allowUnmatchedDecimals
          in: query
          required: false
          description: >
            Used to define whether you want to allow unmatched decimals between the input and output tokens. For tokens with mismatched decimals in the origin and destination chain the API will throw an error if this is not explicitly set to true. Defaults to false.
          schema:
            type: boolean
          examples:
            default:
              value: false
          x-gitbook-description-html: >-
            <p>Used to define whether you want to allow unmatched decimals between the input and output tokens. For tokens with mismatched decimals in the origin and destination chain the API will throw an error if this is not explicitly set to true. Defaults to false.</p>
      responses:
        '200':
          description: Suggested fees for the transaction and supporting data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuggestedFees'
              example:
                estimatedFillTimeSec: 2
                capitalFeePct: '78750000000001'
                capitalFeeTotal: '78750000000001'
                relayGasFeePct: '155024308002'
                relayGasFeeTotal: '155024308002'
                relayFeePct: '78905024308003'
                relayFeeTotal: '78905024308003'
                lpFeePct: '0'
                timestamp: '1754342087'
                isAmountTooLow: false
                quoteBlock: '23070320'
                exclusiveRelayer: '0x394311A6Aaa0D8E3411D8b62DE4578D41322d1bD'
                exclusivityDeadline: 1754342267
                spokePoolAddress: '0x5c7BCd6E7De5423a257D81B442095A1a6ced35C5'
                destinationSpokePoolAddress: '0x6f26Bf09B1C792e3228e5467807a900A503c0281'
                totalRelayFee:
                  pct: '78905024308003'
                  total: '78905024308003'
                relayerCapitalFee:
                  pct: '78750000000001'
                  total: '78750000000001'
                relayerGasFee:
                  pct: '155024308002'
                  total: '155024308002'
                lpFee:
                  pct: '0'
                  total: '0'
                limits:
                  minDeposit: '134862494200912'
                  maxDeposit: '1661211802629989209324'
                  maxDepositInstant: '231397155893653275446'
                  maxDepositShortDelay: '1661211802629989209324'
                  recommendedDepositInstant: '231397155893653275446'
                fillDeadline: '1754353917'
                outputAmount: '999921094975691997'
                inputToken:
                  address: '0xC02aaA39b223FE8D0A0e5C4F27eAD9083C756Cc2'
                  symbol: ETH
                  decimals: 18
                  chainId: 1
                outputToken:
                  address: '0x4200000000000000000000000000000000000006'
                  symbol: ETH
                  decimals: 18
                  chainId: 10
                id: xn8fx-1754342218143-67be35cfbdb6
          x-gitbook-description-html: <p>Suggested fees for the transaction and supporting data</p>
        '400':
          description: Bad request due to invalid input parameter.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AcrossApiError'
              example:
                type: AcrossApiError
                code: AMOUNT_TOO_HIGH
                status: 400
                message: Amount exceeds max. deposit limit- 20003.800721 USDzC
          x-gitbook-description-html: <p>Bad request due to invalid input parameter.</p>
        '500':
          description: Unexpected error within the API
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AcrossApiError'
              example:
                type: AcrossApiError
                code: INTERNAL_SERVER_ERROR
                status: 500
                message: Internal server error
          x-gitbook-description-html: <p>Unexpected error within the API</p>
      x-gitbook-description-document:
        object: document
        data:
          schemaVersion: 9
        nodes:
          - object: block
            type: paragraph
            isVoid: false
            data: {}
            nodes:
              - object: text
                leaves:
                  - object: leaf
                    text: 'Returns suggested fees based on '
                    marks: []
                  - object: leaf
                    text: inputToken
                    marks:
                      - object: mark
                        type: code
                        data: {}
                  - object: leaf
                    text: ', '
                    marks: []
                  - object: leaf
                    text: outputToken
                    marks:
                      - object: mark
                        type: code
                        data: {}
                  - object: leaf
                    text: ', '
                    marks: []
                  - object: leaf
                    text: originChainId
                    marks:
                      - object: mark
                        type: code
                        data: {}
                  - object: leaf
                    text: ', '
                    marks: []
                  - object: leaf
                    text: destinationChainId
                    marks:
                      - object: mark
                        type: code
                        data: {}
                  - object: leaf
                    text: ', and '
                    marks: []
                  - object: leaf
                    text: amount
                    marks:
                      - object: mark
                        type: code
                        data: {}
                  - object: leaf
                    text: >-
                      . Also includes transfer limits of the system and data used to compute the fees.
                    marks: []
                key: KofDFx7lzHCp
            key: RTmPDiXbUHLy
        key: x33uDQizs4Wt
      x-gitbook-description-html: >-
        <p>Returns suggested fees based on <code>inputToken</code>, <code>outputToken</code>, <code>originChainId</code>, <code>destinationChainId</code>, and <code>amount</code>. Also includes transfer limits of the system and data used to compute the fees.</p>
  /limits:
    get:
      x-codeSamples:
        - lang: bash
          label: Curl
          source: |
            curl -L \
              'https://app.across.to/api/limits?inputToken=0xC02aaA39b223FE8D0A0e5C4F27eAD9083C756Cc2&outputToken=0x4200000000000000000000000000000000000006&originChainId=1&destinationChainId=10'
      summary: Retrieve current transfer limits of the system
      description: >-
        Returns transfer limits for `inputToken`, `outputToken`, `originChainId`, and `destinationChainId`.
      parameters:
        - name: inputToken
          in: query
          required: true
          schema:
            type: string
          examples:
            default:
              value: '0xC02aaA39b223FE8D0A0e5C4F27eAD9083C756Cc2'
          description: >
            Address of token to bridge on the _origin_ chain. Must be used together with parameter `outputToken`. For ETH, use the wrapped address, like WETH.


            Note that the address provided must exist on the specified `originChainId`.
          x-gitbook-description-html: >-
            <p>Address of token to bridge on the <em>origin</em> chain. Must be used together with parameter <code>outputToken</code>. For ETH, use the wrapped address, like WETH.</p>

            <p>Note that the address provided must exist on the specified <code>originChainId</code>.</p>
        - name: outputToken
          in: query
          required: true
          schema:
            type: string
          examples:
            default:
              value: '0x4200000000000000000000000000000000000006'
          description: >
            Address of token to bridge on the _destination_ chain. Must be used together with parameter `inputToken`. For ETH, use the wrapped address, like WETH.


            Note that the address provided must match the token address on the specified `destinationChainId` below.
          x-gitbook-description-html: >-
            <p>Address of token to bridge on the <em>destination</em> chain. Must be used together with parameter <code>inputToken</code>. For ETH, use the wrapped address, like WETH.</p>

            <p>Note that the address provided must match the token address on the specified <code>destinationChainId</code> below.</p>
        - name: originChainId
          in: query
          required: true
          description: |
            Chain ID where the specified `inputToken` exists.
          schema:
            allOf:
              - $ref: '#/components/schemas/ChainId'
          examples:
            default:
              value: 1
          x-gitbook-description-html: <p>Chain ID where the specified <code>inputToken</code> exists.</p>
        - name: destinationChainId
          in: query
          required: true
          description: |
            The intended destination chain ID of the bridge transfer.
          schema:
            allOf:
              - $ref: '#/components/schemas/ChainId'
          examples:
            default:
              value: 10
          x-gitbook-description-html: <p>The intended destination chain ID of the bridge transfer.</p>
        - name: amount
          in: query
          required: false
          description: >
            Amount of the token to transfer.


            Note that this amount is in the native decimals of the token. So, for WETH, this would be the amount of human-readable WETH multiplied by 1e18. For USDC, you would multiply the number of human-readable USDC by 1e6.
          schema:
            type: integer
            minimum: 1
          examples:
            default:
              value: '1000000000000000000'
          x-gitbook-description-html: >-
            <p>Amount of the token to transfer.</p>

            <p>Note that this amount is in the native decimals of the token. So, for WETH, this would be the amount of human-readable WETH multiplied by 1e18. For USDC, you would multiply the number of human-readable USDC by 1e6.</p>
        - name: recipient
          in: query
          required: false
          description: >
            Recipient of the deposit. Can be an EOA or a contract. If this is an EOA and message is defined, then the API will throw a 4xx error.


            _Example_: 0xc186fA914353c44b2E33eBE05f21846F1048bEda
          schema:
            type: string
          x-gitbook-description-html: >-
            <p>Recipient of the deposit. Can be an EOA or a contract. If this is an EOA and message is defined, then the API will throw a 4xx error.</p>

            <p><em>Example</em>: 0xc186fA914353c44b2E33eBE05f21846F1048bEda</p>
        - name: message
          in: query
          required: false
          description: >
            Calldata passed to the `recipient` if `recipient` is a contract address.  This calldata is passed to the recipient via the recipient's handleV3AcrossMessage() public function.

            _Example:_ 0xABC123
          schema:
            type: string
          x-gitbook-description-html: >-
            <p>Calldata passed to the <code>recipient</code> if <code>recipient</code> is a contract address.  This calldata is passed to the recipient via the recipient's handleV3AcrossMessage() public function.

            <em>Example:</em> 0xABC123</p>
        - name: relayer
          in: query
          required: false
          description: >
            Optionally override the relayer address used to simulate the fillRelay() call that estimates the gas costs needed to fill a deposit. This simulation result impacts the returned suggested-fees. The reason to customize the EOA would be primarily if the recipientAddress is a contract and requires a certain relayer to submit the fill, or if one specific relayer has the necessary token balance to make the fill.


            _Example:_ 0x428AB2BA90Eba0a4Be7aF34C9Ac451ab061AC010
          schema:
            type: string
          x-gitbook-description-html: >-
            <p>Optionally override the relayer address used to simulate the fillRelay() call that estimates the gas costs needed to fill a deposit. This simulation result impacts the returned suggested-fees. The reason to customize the EOA would be primarily if the recipientAddress is a contract and requires a certain relayer to submit the fill, or if one specific relayer has the necessary token balance to make the fill.</p>

            <p><em>Example:</em> 0x428AB2BA90Eba0a4Be7aF34C9Ac451ab061AC010</p>
        - name: allowUnmatchedDecimals
          in: query
          required: false
          description: >
            Used to define whether you want to allow unmatched decimals between the input and output tokens. For tokens with mismatched decimals in the origin and destination chain the API will throw an error if this is not explicitly set to true. Defaults to false.
          schema:
            type: boolean
          examples:
            default:
              value: false
          x-gitbook-description-html: >-
            <p>Used to define whether you want to allow unmatched decimals between the input and output tokens. For tokens with mismatched decimals in the origin and destination chain the API will throw an error if this is not explicitly set to true. Defaults to false.</p>
      responses:
        '200':
          description: Transfer limits
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransferLimits'
              example:
                minDeposit: '134349011863017'
                maxDeposit: '1659439975009194758428'
                maxDepositInstant: '231397155893653275446'
                maxDepositShortDelay: '1659439975009194758428'
                recommendedDepositInstant: '231397155893653275446'
                relayerFeeDetails:
                  relayFeeTotal: '141442042216'
                  relayFeePercent: '1414420422160000000000000000'
                  gasFeeTotal: '141442042216'
                  gasFeePercent: '1414420422160000000000000000'
                  capitalFeeTotal: '0'
                  capitalFeePercent: '0'
                gasFeeDetails:
                  nativeGasCost: '137265'
                  opStackL1GasCost: '3993981356'
                  gasPrice: '1000740'
                  tokenGasCost: '141360557456'
          x-gitbook-description-html: <p>Transfer limits</p>
        '400':
          description: Bad request due to invalid input parameter.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AcrossApiError'
              example:
                type: AcrossApiError
                code: MISSING_PARAM
                status: 400
                message: >-
                  Query param 'token' or 'inputToken' and 'outputToken' must be provided
          x-gitbook-description-html: <p>Bad request due to invalid input parameter.</p>
        '500':
          description: Unexpected error within the API
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AcrossApiError'
              example:
                type: AcrossApiError
                code: INTERNAL_SERVER_ERROR
                status: 500
                message: Internal server error
          x-gitbook-description-html: <p>Unexpected error within the API</p>
      x-gitbook-description-document:
        object: document
        data:
          schemaVersion: 9
        nodes:
          - object: block
            type: paragraph
            isVoid: false
            data: {}
            nodes:
              - object: text
                leaves:
                  - object: leaf
                    text: 'Returns transfer limits for '
                    marks: []
                  - object: leaf
                    text: inputToken
                    marks:
                      - object: mark
                        type: code
                        data: {}
                  - object: leaf
                    text: ', '
                    marks: []
                  - object: leaf
                    text: outputToken
                    marks:
                      - object: mark
                        type: code
                        data: {}
                  - object: leaf
                    text: ', '
                    marks: []
                  - object: leaf
                    text: originChainId
                    marks:
                      - object: mark
                        type: code
                        data: {}
                  - object: leaf
                    text: ', and '
                    marks: []
                  - object: leaf
                    text: destinationChainId
                    marks:
                      - object: mark
                        type: code
                        data: {}
                  - object: leaf
                    text: .
                    marks: []
                key: jj3c7QL6HeRL
            key: AUN7YThszqAD
        key: 6toytxLKQbXt
      x-gitbook-description-html: >-
        <p>Returns transfer limits for <code>inputToken</code>, <code>outputToken</code>, <code>originChainId</code>, and <code>destinationChainId</code>.</p>
  /available-routes:
    get:
      summary: Retrieve available routes for transfers
      description: Returns available routes based on specified parameters.
      parameters:
        - name: originChainId
          in: query
          required: false
          example: 1
          description: |
            Chain ID of the originating chain.
          schema:
            allOf:
              - example: 1
              - $ref: '#/components/schemas/ChainId'
          x-gitbook-description-html: <p>Chain ID of the originating chain.</p>
        - name: destinationChainId
          in: query
          required: false
          example: 10
          description: |
            Chain ID of the destination chain.
          schema:
            allOf:
              - example: 10
              - $ref: '#/components/schemas/ChainId'
          x-gitbook-description-html: <p>Chain ID of the destination chain.</p>
        - name: originToken
          in: query
          required: false
          description: |
            Origin chain address of token contract to transfer.

            _Example:_ 0xC02aaA39b223FE8D0A0e5C4F27eAD9083C756Cc2
          example: '0xC02aaA39b223FE8D0A0e5C4F27eAD9083C756Cc2'
          schema:
            type: string
          x-gitbook-description-html: |-
            <p>Origin chain address of token contract to transfer.</p>
            <p><em>Example:</em> 0xC02aaA39b223FE8D0A0e5C4F27eAD9083C756Cc2</p>
        - name: destinationToken
          in: query
          required: false
          example: '0x4200000000000000000000000000000000000006'
          description: |
            Destination chain address of token contract to receive.

            _Example:_ 0x4200000000000000000000000000000000000006
          schema:
            type: string
          x-gitbook-description-html: |-
            <p>Destination chain address of token contract to receive.</p>
            <p><em>Example:</em> 0x4200000000000000000000000000000000000006</p>
      responses:
        '200':
          description: List of available routes
          content:
            application/json:
              example:
                - originChainId: 1
                  originToken: '0xC02aaA39b223FE8D0A0e5C4F27eAD9083C756Cc2'
                  destinationChainId: 10
                  destinationToken: '0x4200000000000000000000000000000000000006'
                  originTokenSymbol: WETH
                  destinationTokenSymbol: WETH
                  isNative: false
                - originChainId: 1
                  originToken: '0xC02aaA39b223FE8D0A0e5C4F27eAD9083C756Cc2'
                  destinationChainId: 10
                  destinationToken: '0x4200000000000000000000000000000000000006'
                  originTokenSymbol: ETH
                  destinationTokenSymbol: ETH
                  isNative: true
              schema:
                type: array
                x-auto-generated: true
                items:
                  type: object
                  x-auto-generated: true
                  properties:
                    originChainId:
                      type: integer
                      description: Origin chain ID
                      example: 1
                      x-auto-generated: true
                    originToken:
                      type: string
                      description: Origin token
                      example: "0xC02aaA39b223FE8D0A0e5C4F27eAD9083C756Cc2"
                      x-auto-generated: true
                    destinationChainId:
                      type: integer
                      description: Destination chain ID
                      example: 10
                      x-auto-generated: true
                    destinationToken:
                      type: string
                      description: Destination token
                      example: "0x4200000000000000000000000000000000000006"
                      x-auto-generated: true
                    originTokenSymbol:
                      type: string
                      description: Origin token symbol
                      example: WETH
                      x-auto-generated: true
                    destinationTokenSymbol:
                      type: string
                      description: Destination token symbol
                      example: WETH
                      x-auto-generated: true
                    isNative:
                      type: boolean
                      description: Is native
                      example: false
                      x-auto-generated: true
          x-gitbook-description-html: <p>List of available routes</p>
        '400':
          description: Invalid input
          x-gitbook-description-html: <p>Invalid input</p>
          content:
            application/json:
              example:
                type: AcrossApiError
                code: INVALID_PARAM
                status: 400
                message: Invalid parameter at path 'originToken'. Expected type 'union'
                param: originToken
        '500':
          description: Unexpected error within the API
          x-gitbook-description-html: <p>Unexpected error within the API</p>
          content:
            application/json:
              example:
                type: AcrossApiError
                code: INTERNAL_SERVER_ERROR
                status: 500
                message: Internal server error
      x-gitbook-description-document:
        object: document
        data:
          schemaVersion: 9
        nodes:
          - object: block
            type: paragraph
            isVoid: false
            data: {}
            nodes:
              - object: text
                leaves:
                  - object: leaf
                    text: Returns available routes based on specified parameters.
                    marks: []
                key: h1Q9HUxy1Ak3
            key: UOrOmYyoeGNi
        key: v4RmdCZKpRK5
      x-gitbook-description-html: <p>Returns available routes based on specified parameters.</p>
  /deposit/status:
    get:
      summary: Track the lifecycle of a deposit
      description: >
        Returns the fill status of a deposit along with a corresponding fill transaction hash if filled.
         
        This endpoint loads data queried by an indexing service that polls relevant events on a 10-second cadence. 

        Users should therefore expect an average latency of 1 to 15 seconds after submitting a deposit to see the status changed in this endpoint. 

        This delay comes from the time it takes for the internal indexing to include the deposit transaction.
      parameters:
        - name: originChainId
          in: query
          required: false
          description: >
            Chain Id where the deposit originated from. This must be used in conjunction with depositId. depositTxHash is not required when using this parameter.
          schema:
            allOf:
              - $ref: '#/components/schemas/ChainId'
          examples:
            default:
              value: 137
          x-gitbook-description-html: >-
            <p>Chain Id where the deposit originated from. This must be used in conjunction with depositId. depositTxHash is not required when using this parameter.</p>
        - name: depositId
          in: query
          required: false
          description: >
            The deposit id that is emitted from the FundsDeposited event. This must be used in conjunction with originChainId. depositTxnRef is not required when using this parameter.
          schema:
            type: integer
            minimum: 0
          examples:
            default:
              value: 1349975
          x-gitbook-description-html: >-
            <p>The deposit id that is emitted from the FundsDeposited event. This must be used in conjunction with originChainId. depositTxnRef is not required when using this parameter.</p>
        - name: depositTxnRef
          in: query
          required: true
          description: >
            The deposit transaction hash that is emitted from the FundsDeposited event. If you are using this, you donot need the other parameters (i.e. originChainId and depositId).
          schema:
            type: string
          examples:
            default:
              value: >-
                0x56a86610aad2a653161c9dd4b4972f948198fd02ae9589cfac1d57bd86a156c1
          x-gitbook-description-html: >-
            <p>The deposit transaction hash that is emitted from the FundsDeposited event. If you are using this, you donot need the other parameters (i.e. originChainId and depositId).</p>
      responses:
        '200':
          description: Lifecycle of a Transaction
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum:
                      - filled
                      - pending
                      - expired
                      - refunded
                      - slowFillRequested
                    description: |
                      The status of the deposit.
                       * filled: Deposits with this status have been filled on the destination chain and the recipient should have received funds. A FilledRelay event was emitted on the destination chain SpokePool.
                       * pending: Deposit has not been filled yet.
                       * expired: Deposit has expired and will not be filled. Expired deposits will be refunded to the `depositor` on the `originChainId` in the next batch of repayments.
                       * refunded: Deposit has expired and the depositor has been successfully refunded on the originChain. 
                       * slowFillRequested: Deposit has been made but no relayer has filled the intent, therefore Across fills the user's intent without requiring a relayer to front the capital.
                    x-gitbook-description-html: >-
                      <p>The status of the deposit.</p>

                      <ul>

                      <li>filled: Deposits with this status have been filled on the destination chain and the recipient should have received funds. A FilledRelay event was emitted on the destination chain SpokePool.</li>

                      <li>pending: Deposit has not been filled yet.</li>

                      <li>expired: Deposit has expired and will not be filled. Expired deposits will be refunded to the <code>depositor</code> on the <code>originChainId</code> in the next batch of repayments.</li>

                      <li>refunded: Deposit has expired and the depositor has been successfully refunded on the originChain.</li>

                      <li>slowFillRequested: Deposit has been made but no relayer has filled the intent, therefore Across fills the user's intent without requiring a relayer to front the capital.</li>

                      </ul>
                  fillTxnRef:
                    type: string
                    description: >
                      The transaction hash of the fill transaction on the destination chain. This field is only present when `status` is `filled`.
                    x-gitbook-description-html: >-
                      <p>The transaction hash of the fill transaction on the destination chain. This field is only present when <code>status</code> is <code>filled</code>.</p>
                  destinationChainId:
                    type: integer
                    description: |
                      The chain id where the fill transaction took place.
                    x-gitbook-description-html: <p>The chain id where the fill transaction took place.</p>
                  originChainId:
                    type: integer
                    description: >
                      The chain id where the deposit transaction originally took place.
                    x-gitbook-description-html: >-
                      <p>The chain id where the deposit transaction originally took place.</p>
                  depositId:
                    type: integer
                    description: |
                      The deposit Id for the deposit transaction.
                    x-gitbook-description-html: <p>The deposit Id for the deposit transaction.</p>
                  depositTxnRef:
                    type: integer
                    description: |
                      The deposit transaction hash.
                    x-gitbook-description-html: <p>The deposit transaction hash.</p>
                  depositRefundTxnRef:
                    type: integer
                    description: |
                      The deposit refund transaction hash.
                    x-gitbook-description-html: <p>The deposit refund transaction hash.</p>
                  actionsSucceeded:
                    type: boolean
                    description: |
                      Defines if the actions succeeded.
                    x-gitbook-description-html: <p>Defines if the actions succeeded.</p>
                  pagination:
                    type: object
                    description: >
                      The pagination object defines the currentIndex and maxIndex of the returned deposits.
                    x-gitbook-description-html: >-
                      <p>The pagination object defines the currentIndex and maxIndex of the returned deposits.</p>
                    properties: {}
                  depositTxHash:
                    type: string
                    description: Deposit transaction hash
                    example: "0x01ef7ad7ed64e273b2a63b22fb75abf42ecd7b65e8deb96c440ec3cd56915a84"
                    x-auto-generated: true
                  fillTx:
                    type: string
                    description: Fill transaction
                    example: "0xa2561456382ad815ed13bd0f0ef3cc6d9d537c10337787baafee2e25e201653f"
                    x-auto-generated: true
                  depositRefundTxHash:
                    nullable: true
                    description: Deposit refund transaction hash
                    x-auto-generated: true
              example:
                status: filled
                originChainId: 8453
                depositId: '4406025'
                depositTxnRef: >-
                  0x0e44727151684ef4cfe7744aad88007cf55b155a64f5f9047fb9d2fa53780967
                fillTxnRef: >-
                  0x0e7b85f1c49c4c89f3b381f12a24d6838be16a41021ab16645bae9dcd1278238
                destinationChainId: 137
                depositRefundTxnRef: null
                actionsSucceeded: null,
                pagination:
                  currentIndex: 0
                  maxIndex: 0
          x-gitbook-description-html: <p>Lifecycle of a Transaction</p>
        '400':
          description: Invalid input
          x-gitbook-description-html: <p>Invalid input</p>
          content:
            application/json:
              example:
                type: AcrossApiError
                code: INVALID_PARAM
                status: 400
                message: Invalid parameter at path 'depositId'. Expected type 'union'
                param: originToken
        '500':
          description: Unexpected error within the API
          x-gitbook-description-html: <p>Unexpected error within the API</p>
          content:
            application/json:
              example:
                type: AcrossApiError
                code: INTERNAL_SERVER_ERROR
                status: 500
                message: Internal server error
      x-gitbook-description-document:
        object: document
        data:
          schemaVersion: 9
        nodes:
          - object: block
            type: paragraph
            isVoid: false
            data: {}
            nodes:
              - object: text
                leaves:
                  - object: leaf
                    text: >-
                      Returns the fill status of a deposit along with a corresponding fill transaction hash if filled.
                    marks: []
                key: qQsaYHPKZqQP
            key: QjJ3oU3XsXEG
          - object: block
            type: paragraph
            isVoid: false
            data: {}
            nodes:
              - object: text
                leaves:
                  - object: leaf
                    text: >-
                      This endpoint loads data queried by an indexing service that polls relevant events on a 10-second cadence. Users should therefore expect an average latency of 1 to 15 seconds after submitting a deposit to see the status changed in this endpoint. This delay comes from the time it takes for the internal indexing to include the deposit transaction.
                    marks: []
                key: 1N0Ack9Wa7oa
            key: 7Edd4QBgDXRW
        key: 6eZLV0KjmrGM
      x-gitbook-description-html: >-
        <p>Returns the fill status of a deposit along with a corresponding fill transaction hash if filled.</p><p>This endpoint loads data queried by an indexing service that polls relevant events on a 10-second cadence. Users should therefore expect an average latency of 1 to 15 seconds after submitting a deposit to see the status changed in this endpoint. This delay comes from the time it takes for the internal indexing to include the deposit transaction.</p>
  /deposits:
    get:
      summary: Get all deposits for a given depositor
      description: >
        Returns all deposits for a given depositor.
         
        This endpoint loads data queried by an indexing service that polls relevant events on a 10-second cadence. 

        Users should therefore expect an average latency of 1 to 15 seconds after submitting a deposit to see the status changed in this endpoint. 

        This delay comes from the time it takes for the internal indexing to include the deposit transaction.
      parameters:
        - name: limit
          in: query
          required: false
          description: >
            Maximum number of deposits to return in a single request; used for pagination.
          schema:
            type: integer
          examples:
            default:
              value: 50
          x-gitbook-description-html: >-
            <p>Maximum number of deposits to return in a single request; used for pagination.</p>
        - name: skip
          in: query
          required: false
          description: >
            Number of deposits to skip from the beginning of the result set; used for pagination.
          schema:
            type: integer
            minimum: 0
          examples:
            default:
              value: 100
          x-gitbook-description-html: >-
            <p>Number of deposits to skip from the beginning of the result set; used for pagination.</p>
        - name: depositor
          in: query
          required: false
          description: >
            Wallet address of the depositor; filters results to deposits made by this address.
          schema:
            type: string
          examples:
            default:
              value: '0x89f423567c2648BB828c3997f60c47b54f57Fa6e'
          x-gitbook-description-html: >-
            <p>Wallet address of the depositor; filters results to deposits made by this address.</p>
        - name: address
          in: query
          required: false
          description: >
            This parameter would help return transactions where the provided address is either the depositor or recipient.
          schema:
            type: string
          examples:
            default:
              value: '0x89f423567c2648BB828c3997f60c47b54f57Fa6e'
          x-gitbook-description-html: >-
            <p>This parameter would help return transactions where the provided address is either the depositor or recipient.</p>
      responses:
        '200':
          description: List of deposits for a given depositor
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                    description: |
                      Internal unique identifier for the deposit record.
                    x-gitbook-description-html: <p>Internal unique identifier for the deposit record.</p>
                  relayHash:
                    type: string
                    description: >
                      Hash of the relay data used to verify and track fill events.
                    x-gitbook-description-html: >-
                      <p>Hash of the relay data used to verify and track fill events.</p>
                  depositId:
                    type: string
                    description: >
                      Unique identifier assigned to the deposit event on the origin chain.
                    x-gitbook-description-html: >-
                      <p>Unique identifier assigned to the deposit event on the origin chain.</p>
                  originChainId:
                    type: integer
                    description: |
                      The chain ID where the deposit was originally made.
                    x-gitbook-description-html: <p>The chain ID where the deposit was originally made.</p>
                  destinationChainId:
                    type: integer
                    description: >
                      The target chain ID where the fill is expected to complete.
                    x-gitbook-description-html: >-
                      <p>The target chain ID where the fill is expected to complete.</p>
                  depositor:
                    type: string
                    description: |
                      Wallet address of the user who initiated the deposit.
                    x-gitbook-description-html: >-
                      <p>Wallet address of the user who initiated the deposit.</p>
                  recipient:
                    type: string
                    description: >
                      Wallet address intended to receive funds on the destination chain.
                    x-gitbook-description-html: >-
                      <p>Wallet address intended to receive funds on the destination chain.</p>
                  inputToken:
                    type: string
                    description: |
                      Address of the token deposited on the origin chain.
                    x-gitbook-description-html: <p>Address of the token deposited on the origin chain.</p>
                  inputAmount:
                    type: string
                    description: |
                      Amount of `inputToken` sent in the deposit (in wei).
                    x-gitbook-description-html: >-
                      <p>Amount of <code>inputToken</code> sent in the deposit (in wei).</p>
                  outputToken:
                    type: string
                    description: >
                      Address of the token expected to be received on the destination chain.
                    x-gitbook-description-html: >-
                      <p>Address of the token expected to be received on the destination chain.</p>
                  outputAmount:
                    type: string
                    description: |
                      Amount of `outputToken` expected to be received (in wei).
                    x-gitbook-description-html: >-
                      <p>Amount of <code>outputToken</code> expected to be received (in wei).</p>
                  message:
                    type: string
                    description: >
                      Optional arbitrary bytes message encoded with the deposit intent.
                    x-gitbook-description-html: >-
                      <p>Optional arbitrary bytes message encoded with the deposit intent.</p>
                  messageHash:
                    type: string
                    description: |
                      Hash of the `message` payload.
                    x-gitbook-description-html: <p>Hash of the <code>message</code> payload.</p>
                  exclusiveRelayer:
                    type: string
                    description: >
                      Address of the relayer granted exclusivity to fill the deposit, if any.
                    x-gitbook-description-html: >-
                      <p>Address of the relayer granted exclusivity to fill the deposit, if any.</p>
                  exclusivityDeadline:
                    type: string
                    format: date-time
                    nullable: true
                    description: |
                      Timestamp indicating when relayer exclusivity expires.
                    x-gitbook-description-html: >-
                      <p>Timestamp indicating when relayer exclusivity expires.</p>
                  fillDeadline:
                    type: string
                    format: date-time
                    description: >
                      Deadline by which the deposit must be filled before expiring.
                    x-gitbook-description-html: >-
                      <p>Deadline by which the deposit must be filled before expiring.</p>
                  quoteTimestamp:
                    type: string
                    format: date-time
                    description: |
                      Time at which the quote for the deposit was generated.
                    x-gitbook-description-html: >-
                      <p>Time at which the quote for the deposit was generated.</p>
                  depositTxHash:
                    type: string
                    description: >
                      DEPRECATED: Please use depositTxnRef instead. Transaction hash of the deposit on the origin chain.
                    x-gitbook-description-html: >-
                      <p>DEPRECATED: Please use depositTxnRef instead. Transaction hash of the deposit on the origin chain.</p>
                  depositBlockNumber:
                    type: integer
                    description: |
                      Block number where the deposit transaction was confirmed.
                    x-gitbook-description-html: >-
                      <p>Block number where the deposit transaction was confirmed.</p>
                  depositBlockTimestamp:
                    type: string
                    format: date-time
                    description: |
                      Timestamp of the block containing the deposit transaction.
                    x-gitbook-description-html: >-
                      <p>Timestamp of the block containing the deposit transaction.</p>
                  status:
                    type: string
                    enum:
                      - filled
                      - pending
                      - expired
                      - refunded
                      - slowFillRequested
                    description: |
                      The status of the deposit fill lifecycle.
                    x-gitbook-description-html: <p>The status of the deposit fill lifecycle.</p>
                  depositRefundTxnRef:
                    type: string
                    nullable: true
                    description: >
                      Transaction hash for refund if deposit expired and funds were returned to the depositor.
                    x-gitbook-description-html: >-
                      <p>Transaction hash for refund if deposit expired and funds were returned to the depositor.</p>
                  swapTokenPriceUsd:
                    type: string
                    nullable: true
                    description: |
                      USD price of the token used in any optional swap.
                    x-gitbook-description-html: <p>USD price of the token used in any optional swap.</p>
                  swapFeeUsd:
                    type: string
                    nullable: true
                    description: |
                      Fee paid in USD for the optional swap (if performed).
                    x-gitbook-description-html: >-
                      <p>Fee paid in USD for the optional swap (if performed).</p>
                  bridgeFeeUsd:
                    type: string
                    description: |
                      Fee paid in USD for bridging the funds across chains.
                    x-gitbook-description-html: >-
                      <p>Fee paid in USD for bridging the funds across chains.</p>
                  inputPriceUsd:
                    type: string
                    description: |
                      USD price of the input token at the time of deposit.
                    x-gitbook-description-html: >-
                      <p>USD price of the input token at the time of deposit.</p>
                  outputPriceUsd:
                    type: string
                    description: |
                      USD price of the output token at the time of quote.
                    x-gitbook-description-html: <p>USD price of the output token at the time of quote.</p>
                  fillGasFee:
                    type: string
                    description: |
                      Gas cost incurred in native token units during fill.
                    x-gitbook-description-html: >-
                      <p>Gas cost incurred in native token units during fill.</p>
                  fillGasFeeUsd:
                    type: string
                    description: |
                      USD value of the gas fee for filling the deposit.
                    x-gitbook-description-html: <p>USD value of the gas fee for filling the deposit.</p>
                  fillGasTokenPriceUsd:
                    type: string
                    description: >
                      USD price of the gas token on the destination chain at the time of fill.
                    x-gitbook-description-html: >-
                      <p>USD price of the gas token on the destination chain at the time of fill.</p>
                  actionsSucceeded:
                    type: string
                    description: >
                      Defines if the attached crosschain embedded actions succeeded.
                    x-gitbook-description-html: >-
                      <p>Defines if the attached crosschain embedded actions succeeded.</p>
                  swapTransactionHash:
                    type: string
                    nullable: true
                    description: >
                      Transaction hash for any token swap conducted on the origin chain.
                    x-gitbook-description-html: >-
                      <p>Transaction hash for any token swap conducted on the origin chain.</p>
                  swapToken:
                    type: string
                    nullable: true
                    description: |
                      Token address used in a swap on the origin chain, if any.
                    x-gitbook-description-html: >-
                      <p>Token address used in a swap on the origin chain, if any.</p>
                  swapTokenAmount:
                    type: string
                    nullable: true
                    description: |
                      Amount of the `swapToken` exchanged, if a swap occurred.
                    x-gitbook-description-html: >-
                      <p>Amount of the <code>swapToken</code> exchanged, if a swap occurred.</p>
                  relayer:
                    type: string
                    description: >
                      Address of the relayer that submitted the fill on the destination chain.
                    x-gitbook-description-html: >-
                      <p>Address of the relayer that submitted the fill on the destination chain.</p>
                  fillBlockTimestamp:
                    type: string
                    format: date-time
                    description: >
                      Timestamp when the fill was confirmed on the destination chain.
                    x-gitbook-description-html: >-
                      <p>Timestamp when the fill was confirmed on the destination chain.</p>
                  fillTxnRef:
                    type: string
                    description: |
                      Transaction hash of the actual fill transaction.
                    x-gitbook-description-html: <p>Transaction hash of the actual fill transaction.</p>
                  fillTx:
                    type: string
                    description: >
                      DEPRECATED: Please use fillTxnRef instead. Transaction hash of the actual fill transaction.
                    x-gitbook-description-html: >-
                      <p>DEPRECATED: Please use fillTxnRef instead. Transaction hash of the actual fill transaction.</p>
                  speedups:
                    type: array
                    items:
                      type: string
                    description: |
                      List of transaction hashes representing optional speedups.
                    x-gitbook-description-html: >-
                      <p>List of transaction hashes representing optional speedups.</p>
              example:
                - id: 14503095
                  relayHash: >-
                    0x89cb192c96170615b7e1a0fb20fb64b7c04f6641b301e2735287533e1dbb22ac
                  depositId: '4333561'
                  originChainId: 8453
                  destinationChainId: 42161
                  depositor: '0xA4d353BBc130cbeF1811f27ac70989F9d568CeAB'
                  recipient: '0xA4d353BBc130cbeF1811f27ac70989F9d568CeAB'
                  inputToken: '0x4200000000000000000000000000000000000006'
                  inputAmount: '1000000000000000'
                  outputToken: '0x82aF49447D8a07e3bd95BD0d56f35241523fBab1'
                  outputAmount: '995226997892889'
                  message: 0x
                  messageHash: >-
                    0x0000000000000000000000000000000000000000000000000000000000000000
                  exclusiveRelayer: '0xCad97616f91872C02BA3553dB315Db4015cBE850'
                  exclusivityDeadline: 'null'
                  fillDeadline: '2025-07-24T19:26:20.000Z'
                  quoteTimestamp: '2025-07-24T16:07:11.000Z'
                  depositBlockNumber: 33292078
                  depositBlockTimestamp: '2025-07-24T16:11:43.000Z'
                  status: filled
                  depositRefundTxnRef: null
                  swapTokenPriceUsd: null
                  swapFeeUsd: null
                  bridgeFeeUsd: '0.017884155707075979'
                  inputPriceUsd: '3746.9406687316323'
                  outputPriceUsd: '3746.9406687316323'
                  fillGasFee: '2532354948000'
                  fillGasFeeUsd: '0.009488583742324977'
                  fillGasTokenPriceUsd: '3746.9406687316323'
                  actionsSucceeded: null
                  swapTransactionHash: null
                  swapToken: null
                  swapTokenAmount: null
                  relayer: '0xCad97616f91872C02BA3553dB315Db4015cBE850'
                  fillBlockTimestamp: '2025-07-24T16:11:43.000Z'
                  depositTxnRef: >-
                    0x92ffc5d69d00e14e79254f68adab030dd38119996501a88cac0da76557703d11
                  fillTxnRef: >-
                    0x7b98cebd7ee6e2f75fead81d73005cdf25149141c2045cb5f731b6d9c6b9c517
                  speedups: []
          x-gitbook-description-html: <p>List of deposits for a given depositor</p>
        '400':
          description: Invalid input
          x-gitbook-description-html: <p>Invalid input</p>
          content:
            application/json:
              example:
                type: AcrossApiError
                code: INVALID_PARAM
                status: 400
                message: Invalid parameter at path 'depositor'. Expected type 'union'
                param: originToken
        '500':
          description: Unexpected error within the API
          x-gitbook-description-html: <p>Unexpected error within the API</p>
          content:
            application/json:
              example:
                type: AcrossApiError
                code: INTERNAL_SERVER_ERROR
                status: 500
                message: Internal server error
      x-gitbook-description-document:
        object: document
        data:
          schemaVersion: 9
        nodes:
          - object: block
            type: paragraph
            isVoid: false
            data: {}
            nodes:
              - object: text
                leaves:
                  - object: leaf
                    text: Returns all deposits for a given depositor.
                    marks: []
                key: SgXQZnjza3Mx
            key: txBcJ312OKaE
          - object: block
            type: paragraph
            isVoid: false
            data: {}
            nodes:
              - object: text
                leaves:
                  - object: leaf
                    text: >-
                      This endpoint loads data queried by an indexing service that polls relevant events on a 10-second cadence. Users should therefore expect an average latency of 1 to 15 seconds after submitting a deposit to see the status changed in this endpoint. This delay comes from the time it takes for the internal indexing to include the deposit transaction.
                    marks: []
                key: EPi9FfXKmfQc
            key: ePIHvDU8S50F
        key: 1QoojpDx9Nm1
      x-gitbook-description-html: >-
        <p>Returns all deposits for a given depositor.</p><p>This endpoint loads data queried by an indexing service that polls relevant events on a 10-second cadence. Users should therefore expect an average latency of 1 to 15 seconds after submitting a deposit to see the status changed in this endpoint. This delay comes from the time it takes for the internal indexing to include the deposit transaction.</p>
  /swap/approval:
    get:
      summary: Get swap approval data
      description: >
        Returns data required to execute a crosschain swap. 

        If the input token requires approval, `approvalTxns` will be included in the response.
      parameters:
        - in: query
          name: tradeType
          required: true
          x-warn-html: >
            when using exactOutput some routes may return more tokens than expected. So if you're using exactOutput with embedded actions, and you need those actions to execute with the exact amount you specify, you should not use dynamic balance, instead, set the values explicitly to the exact amount.
          description: >
            Defines the type of trade execution strategy used in a swap or bridge request.

            Each trade type specifies how input and output token amounts are determined

            and how associated fees are handled. Here are the tradeTypes:

            - <b>exactInput</b>: 
                Use this when you want to bridge or swap a fixed amount of your inputToken. You define the exact quantity of tokens to send, and the system calculates the amount of outputToken you'll receive after all fees are deducted. If your input isn't sufficient to cover the transaction fees, the request will fail.
            - <b>minOutput</b>:
                Use this when you need to receive at least a certain amount of the outputToken. You set the minimum output you're willing to accept, and the system calculates the necessary input amount, including fees and slippage. Due to price slippage, the final amount you receive will be at least your specified minimum but could be slightly more. This is especially useful for simple swaps without subsequent crosschain actions.
            - <b>exactOutput</b>: 
                Use this when you need to receive a precise amount of the destination token. You specify the exact output you require, and the system calculates the total input needed to guarantee that amount. If market conditions prevent the system from delivering that exact amount, the entire transaction is cancelled, and your funds are refunded. This is recommended for multi-step transactions, like providing an exact amount of an ERC20 token to a minting contract.
          schema:
            type: string
            enum:
              - minOutput
              - exactOutput
              - exactInput
            default: exactInput
          x-gitbook-description-html: >-
            <p>Defines the type of trade execution strategy used in a swap or bridge request.

            Each trade type specifies how input and output token amounts are determined

            and how associated fees are handled. Here are the tradeTypes:</p>

            <ul>

            <li>exactInput:

            Use this when you want to bridge or swap a fixed amount of your inputToken. You define the exact quantity of tokens to send, and the system calculates the amount of outputToken you'll receive after all fees are deducted. If your input isn't sufficient to cover the transaction fees, the request will fail.</li>

            <li>minOutput:

            Use this when you need to receive at least a certain amount of the outputToken. You set the minimum output you're willing to accept, and the system calculates the necessary input amount, including fees and slippage. Due to price slippage, the final amount you receive will be at least your specified minimum but could be slightly more. This is especially useful for simple swaps without subsequent crosschain actions.</li>

            <li>exactOutput:

            Use this when you need to receive a precise amount of the destination token. You specify the exact output you require, and the system calculates the total input needed to guarantee that amount. If market conditions prevent the system from delivering that exact amount, the entire transaction is cancelled, and your funds are refunded. This is recommended for multi-step transactions, like providing an exact amount of an ERC20 token to a minting contract.</li>

            </ul>
        - in: query
          name: amount
          required: true
          description: >-
            Required amount is in `inputToken` if `tradeType=exactInput` otherwise amount is in `outputToken`.
          schema:
            type: string
            example: '1000000'
          x-gitbook-description-html: >-
            <p>Required amount is in <code>inputToken</code> if <code>tradeType=exactInput</code> otherwise amount is in <code>outputToken</code>.</p>
        - in: query
          name: inputToken
          required: true
          description: Address of the input token on the origin chain.
          schema:
            type: string
            example: '0x0b2C639c533813f4Aa9D7837CAf62653d097Ff85'
          x-gitbook-description-html: <p>Address of the input token on the origin chain.</p>
        - in: query
          name: outputToken
          required: true
          description: Address of the output token on the destination chain.
          schema:
            type: string
            example: '0x82aF49447D8a07e3bd95BD0d56f35241523fBab1'
          x-gitbook-description-html: <p>Address of the output token on the destination chain.</p>
        - in: query
          name: originChainId
          required: true
          description: Chain ID of the origin chain.
          schema:
            type: integer
            example: 10
          x-gitbook-description-html: <p>Chain ID of the origin chain.</p>
        - in: query
          name: destinationChainId
          required: true
          description: Chain ID of the destination chain.
          schema:
            type: integer
            example: 42161
          x-gitbook-description-html: <p>Chain ID of the destination chain.</p>
        - in: query
          name: depositor
          required: true
          description: Address of the depositor initiating the swap.
          schema:
            type: string
            example: '0xA4d353BBc130cbeF1811f27ac70989F9d568CeAB'
          x-gitbook-description-html: <p>Address of the depositor initiating the swap.</p>
        - in: query
          name: recipient
          required: false
          description: >-
            Address of the account receiving the output token. Defaults to `depositor` if not provided.
          schema:
            type: string
            example: '0xA4d353BBc130cbeF1811f27ac70989F9d568CeAB'
          x-gitbook-description-html: >-
            <p>Address of the account receiving the output token. Defaults to <code>depositor</code> if not provided.</p>
        - in: query
          name: appFee
          required: false
          description: >-
            Enables integrators to collect a customizable fee in the output token, sent to a designated address on the destination chain. appFee is expressed in percentage with value ranging between 0 and 1.
          schema:
            type: number
            example: 0.01
          x-gitbook-description-html: >-
            <p>Enables integrators to collect a customizable fee in the output token, sent to a designated address on the destination chain. appFee is expressed in percentage with value ranging between 0 and 1.</p>
        - in: query
          name: appFeeRecipient
          required: false
          description: >-
            Address of the account receiving the app fees. Must be defined if you are also defining `appFee`.
          schema:
            type: string
            example: '0xA4d353BBc130cbeF1811f27ac70989F9d568CeAB'
          x-gitbook-description-html: >-
            <p>Address of the account receiving the app fees. Must be defined if you are also defining <code>appFee</code>.</p>
        - in: query
          name: integratorId
          required: false
          description: 2-byte hex-string that identifies the integrator. E.g., "0xdead".
          schema:
            type: string
            example: '0xdead'
          x-gitbook-description-html: >-
            <p>2-byte hex-string that identifies the integrator. E.g., "0xdead".</p>
        - in: query
          name: refundAddress
          required: false
          description: Address to receive refunds. Defaults to depositor if not provided.
          schema:
            type: string
            default: 0xDEPOSITOR_ADDRESS
          x-gitbook-description-html: >-
            <p>Address to receive refunds. Defaults to depositor if not provided.</p>
        - in: query
          name: refundOnOrigin
          required: false
          description: >-
            For routes that include a destination swap (bridgeableToAny or anyToAny), destination refunds are the default behavior unless refundOnOrigin=true is explicitly set when calling the Swap API.

            Across determines refund behavior based on the route type (when refundOnOrigin is NOT explicitly set):

            1. B2B or A2B routes:
              - refundOnOrigin defaults to true
              - Refunds occur on the origin chain
              - Destination refunds do not apply here

            2. B2A or A2A routes
              - refundOnOrigin defaults to false
              - Refunds occur on the destination chain

            If an explicit refundOnOrigin value is provided, that value is always respected.

            If a refund occurs, the address that receives the refunded funds is determined using the following priority order: 1. refundAddress (if explicitly specified) 2. recipient (if specified) 3. depositor (fallback)

            This applies to both origin and destination refunds.
          schema:
            type: boolean
            default: true
          x-gitbook-description-html: >-
            <p>For routes that include a destination swap (bridgeableToAny or anyToAny), destination refunds are the default behavior unless refundOnOrigin=true is explicitly set when calling the Swap API.

            Across determines refund behavior based on the route type (when refundOnOrigin is NOT explicitly set):</p>

            <ol>

            <li>B2B or A2B routes:</li>

            </ol>

            <ul>

            <li>refundOnOrigin defaults to true</li>

            <li>Refunds occur on the origin chain</li>

            <li>Destination refunds do not apply here</li>

            </ul>

            <ol start="2">

            <li>B2A or A2A routes</li>

            </ol>

            <ul>

            <li>refundOnOrigin defaults to false</li>

            <li>Refunds occur on the destination chain</li>

            </ul>

            <p>If an explicit refundOnOrigin value is provided, that value is always respected.

            If a refund occurs, the address that receives the refunded funds is determined using the following priority order: 1. refundAddress (if explicitly specified) 2. recipient (if specified) 3. depositor (fallback)

            This applies to both origin and destination refunds.</p>
        - in: query
          name: slippage
          required: false
          description: >-
            Slippage tolerance percentage can be set to auto (default) or a numerical value. Numerical value must be between 0 and 1 representing corresponding percentage. So if you want slippage to be 0.5% , you need to pass 0.005 as the value here). If slippage is auto, the Swap API will select the best slippage intelligently and move ahead with the crosschain swap. If slippage is set to a numerical value, for example 0.01 (1% slippage), it divides this value equally for each leg. This means 0.5% slippage for origin and 0.5% slippage for destination.
          schema:
            type: string
            format: float | string
            default: auto
          x-gitbook-description-html: >-
            <p>Slippage tolerance percentage can be set to auto (default) or a numerical value. Numerical value must be between 0 and 1 representing corresponding percentage. So if you want slippage to be 0.5% , you need to pass 0.005 as the value here). If slippage is auto, the Swap API will select the best slippage intelligently and move ahead with the crosschain swap. If slippage is set to a numerical value, for example 0.01 (1% slippage), it divides this value equally for each leg. This means 0.5% slippage for origin and 0.5% slippage for destination.</p>
        - in: query
          name: skipOriginTxEstimation
          required: false
          description: >-
            Used to define whether you want to calculate the transaction details (swap) on origin chain. Defaults to false.
          schema:
            type: boolean
            default: true
          x-gitbook-description-html: >-
            <p>Used to define whether you want to calculate the transaction details (swap) on origin chain. Defaults to false.</p>
        - in: query
          name: strictTradeType
          required: false
          description: >-
            Used to define whether you want to strictly follow the defined tradeType. Defaults to true.
          schema:
            type: boolean
            default: true
          x-gitbook-description-html: >-
            <p>Used to define whether you want to strictly follow the defined tradeType. Defaults to true.</p>
        - in: query
          name: excludeSources
          required: false
          description: >-
            Used to define the sources you want to exclude from the crosschain swap action. Defaults to an empty array. Available sources can be retrieved via `/swap/sources` endpoint
          schema:
            type: array
            items:
              type: string
            default: []
          x-gitbook-description-html: >-
            <p>Used to define the sources you want to exclude from the crosschain swap action. Defaults to an empty array. Available sources can be retrieved via <code>/swap/sources</code> endpoint</p>
        - in: query
          name: includeSources
          required: false
          description: >-
            Used to define the sources you want to include from the crosschain swap action. Defaults to an empty array. Available sources can be retrieved via `/swap/sources` endpoint
          schema:
            type: array
            items:
              type: string
            default: []
          x-gitbook-description-html: >-
            <p>Used to define the sources you want to include from the crosschain swap action. Defaults to an empty array. Available sources can be retrieved via <code>/swap/sources</code> endpoint</p>
      responses:
        '200':
          description: Swap approval data returned successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  crossSwapType:
                    type: string
                    description: >
                      The `crossSwapType` determines how swaps are processed within the system.  

                      It controls:
                        - Which swap strategy to use (bridgeable tokens vs. any tokens)
                        - How to handle the swap flow (input/output token logic)
                        - Which quote-fetching functions to call
                        - How responses and errors are formatted
                    enum:
                      - bridgeableToBridgeable
                      - bridgeableToBridgeableIndirect
                      - bridgeableToAny
                      - anyToBridgeable
                      - anyToAny
                    example: anyToBridgeable
                    x-enum-descriptions: >
                      - bridgeableToBridgeable: Both input and output tokens are bridgeable

                      - bridgeableToBridgeableIndirect: Specific case of `bridgeableToBridgeable`, where we route funds from any EVM to HyperCore (via HyperEVM) 

                      - bridgeableToAny: Input token is bridgeable, output token is any token

                      - anyToBridgeable: Input token is any token, output token is bridgeable

                      - anyToAny: Both input and output tokens are any tokens (not bridgeable)
                    x-gitbook-description-html: >-
                      <p>The <code>crossSwapType</code> determines how swaps are processed within the system.<br>

                      It controls:</p>

                      <ul>

                      <li>Which swap strategy to use (bridgeable tokens vs. any tokens)</li>

                      <li>How to handle the swap flow (input/output token logic)</li>

                      <li>Which quote-fetching functions to call</li>

                      <li>How responses and errors are formatted</li>

                      </ul>
                  amountType:
                    type: string
                    description: Type of amount specification.
                    example: exactInput
                    x-gitbook-description-html: <p>Type of amount specification.</p>
                  approvalTxns:
                    type: array
                    description: >-
                      List of ERC-20 approval transactions required before submitting the deposit.
                    items:
                      type: object
                      description: Details for a single approval transaction.
                      properties:
                        chainId:
                          type: number
                          description: >-
                            Chain ID where the approval transaction must be submitted.
                          example: 10
                          x-gitbook-description-html: >-
                            <p>Chain ID where the approval transaction must be submitted.</p>
                        to:
                          type: string
                          description: >-
                            Spender contract address that needs the ERC-20 approval.
                          example: '0x0b2C639c533813f4Aa9D7837CAf62653d097Ff85'
                          x-gitbook-description-html: >-
                            <p>Spender contract address that needs the ERC-20 approval.</p>
                        data:
                          type: string
                          description: >-
                            Encoded calldata (typically approve(spender, amount)) for the approval transaction.
                          example: 0x095ea7b300000...ffffffffffffffffffffffffff
                          x-gitbook-description-html: >-
                            <p>Encoded calldata (typically approve(spender, amount)) for the approval transaction.</p>
                      x-gitbook-description-html: <p>Details for a single approval transaction.</p>
                    x-gitbook-description-html: >-
                      <p>List of ERC-20 approval transactions required before submitting the deposit.</p>
                  checks:
                    type: object
                    description: Contains data on required checks.
                    properties:
                      allowance:
                        type: object
                        description: Token allowance details.
                        properties:
                          token:
                            type: string
                            description: Address of the input token.
                            example: '0x0b2C639c533813f4Aa9D7837CAf62653d097Ff85'
                            x-gitbook-description-html: <p>Address of the input token.</p>
                          spender:
                            type: string
                            description: >-
                              Address of Across Protocol contract that requires approval.
                            example: '0x89415a82d909a7238d69094C3Dd1dCC1aCbDa85C'
                            x-gitbook-description-html: >-
                              <p>Address of Across Protocol contract that requires approval.</p>
                          actual:
                            type: string
                            description: Current allowance of the input token.
                            example: >-
                              115792089237316195423570985008687907853269984665640564039457584007913116539935
                            x-gitbook-description-html: <p>Current allowance of the input token.</p>
                          expected:
                            type: string
                            description: Minimum expected allowance for the swap.
                            example: '1000000'
                            x-gitbook-description-html: <p>Minimum expected allowance for the swap.</p>
                        x-gitbook-description-html: <p>Token allowance details.</p>
                      balance:
                        type: object
                        description: Token balance details.
                        properties:
                          token:
                            type: string
                            description: Address of the input token.
                            example: '0x0b2C639c533813f4Aa9D7837CAf62653d097Ff85'
                            x-gitbook-description-html: <p>Address of the input token.</p>
                          actual:
                            type: string
                            description: Current balance of the depositor.
                            example: '2993387'
                            x-gitbook-description-html: <p>Current balance of the depositor.</p>
                          expected:
                            type: string
                            description: Minimum required balance for the swap.
                            example: '1000000'
                            x-gitbook-description-html: <p>Minimum required balance for the swap.</p>
                        x-gitbook-description-html: <p>Token balance details.</p>
                    x-gitbook-description-html: <p>Contains data on required checks.</p>
                  steps:
                    type: object
                    description: Breakdown of the swap process.
                    properties:
                      originSwap:
                        type: object
                        description: >-
                          Origin chain swap details. Present when crossSwapType is anyToBridgeable or anyToAny.
                        properties:
                          tokenIn:
                            type: object
                            description: Input token on origin chain.
                            properties:
                              decimals:
                                type: integer
                                example: 6
                              symbol:
                                type: string
                                example: USDC
                              address:
                                type: string
                                example: '0x0b2C639c533813f4Aa9D7837CAf62653d097Ff85'
                              name:
                                type: string
                                example: USD Coin
                              chainId:
                                type: integer
                                example: 10
                            x-gitbook-description-html: <p>Input token on origin chain.</p>
                          tokenOut:
                            type: object
                            description: Output token on origin chain (bridge input token).
                            properties:
                              address:
                                type: string
                                example: '0x4200000000000000000000000000000000000006'
                              decimals:
                                type: integer
                                example: 18
                              symbol:
                                type: string
                                example: WETH
                              chainId:
                                type: integer
                                example: 10
                            x-gitbook-description-html: >-
                              <p>Output token on origin chain (bridge input token).</p>
                          inputAmount:
                            type: string
                            description: >-
                              Amount provided for the origin swap (in tokenIn units).
                            example: '1000000'
                            x-gitbook-description-html: >-
                              <p>Amount provided for the origin swap (in tokenIn units).</p>
                          outputAmount:
                            type: string
                            description: Amount of tokenOut produced by the origin swap.
                            example: '472306805062946'
                            x-gitbook-description-html: >-
                              <p>Amount of tokenOut produced by the origin swap.</p>
                          minOutputAmount:
                            type: string
                            description: >-
                              Minimum amount of tokenOut expected from the origin swap.
                            example: '468764504022050'
                            x-gitbook-description-html: >-
                              <p>Minimum amount of tokenOut expected from the origin swap.</p>
                          maxInputAmount:
                            type: string
                            description: >-
                              Maximum amount of tokenIn that may be spent on the origin swap.
                            example: '1000000'
                            x-gitbook-description-html: >-
                              <p>Maximum amount of tokenIn that may be spent on the origin swap.</p>
                          swapProvider:
                            type: object
                            description: Origin swap route provider.
                            properties:
                              name:
                                type: string
                                example: 0x
                              sources:
                                type: array
                                items:
                                  type: string
                                example:
                                  - woofi_v2
                            x-gitbook-description-html: <p>Origin swap route provider.</p>
                          slippage:
                            type: number
                            format: float
                            description: Slippage tolerance used for the origin swap.
                            example: 0.0075
                            x-gitbook-description-html: >-
                              <p>Slippage tolerance used for the origin swap.</p>
                        x-gitbook-description-html: >-
                          <p>Origin chain swap details. Present when crossSwapType is anyToBridgeable or anyToAny.</p>
                      bridge:
                        type: object
                        description: Bridge step information.
                        properties:
                          inputAmount:
                            type: string
                            description: Amount of bridge input token.
                            example: '468764504022050'
                            x-gitbook-description-html: <p>Amount of bridge input token.</p>
                          outputAmount:
                            type: string
                            description: Estimated amount received on destination chain.
                            example: '464434354522974'
                            x-gitbook-description-html: >-
                              <p>Estimated amount received on destination chain.</p>
                          tokenIn:
                            type: object
                            description: Bridge input token (origin chain asset).
                            properties:
                              address:
                                type: string
                                example: '0x4200000000000000000000000000000000000006'
                              decimals:
                                type: integer
                                example: 18
                              symbol:
                                type: string
                                example: WETH
                              chainId:
                                type: integer
                                example: 10
                            x-gitbook-description-html: <p>Bridge input token (origin chain asset).</p>
                          tokenOut:
                            type: object
                            description: Bridge output token (destination chain asset).
                            properties:
                              decimals:
                                type: integer
                                example: 18
                              symbol:
                                type: string
                                example: WETH
                              address:
                                type: string
                                example: '0x82aF49447D8a07e3bd95BD0d56f35241523fBab1'
                              name:
                                type: string
                                example: Wrapped Ether
                              chainId:
                                type: integer
                                example: 42161
                            x-gitbook-description-html: >-
                              <p>Bridge output token (destination chain asset).</p>
                          fees:
                            type: object
                            description: Fee details for the bridge transaction.
                            properties:
                              amount:
                                type: string
                                description: >-
                                  Total bridge fee amount in bridge input token units.
                                example: '4330149499076'
                                x-gitbook-description-html: >-
                                  <p>Total bridge fee amount in bridge input token units.</p>
                              pct:
                                type: string
                                description: >-
                                  Bridge fee as a fraction of the bridge input amount, scaled by 1e18.
                                example: '9237366442904769'
                                x-gitbook-description-html: >-
                                  <p>Bridge fee as a fraction of the bridge input amount, scaled by 1e18.</p>
                              token:
                                type: object
                                description: Token denomination for the bridge fee.
                                properties:
                                  address:
                                    type: string
                                    example: '0x4200000000000000000000000000000000000006'
                                  decimals:
                                    type: integer
                                    example: 18
                                  symbol:
                                    type: string
                                    example: WETH
                                  chainId:
                                    type: integer
                                    example: 10
                                x-gitbook-description-html: <p>Token denomination for the bridge fee.</p>
                              details:
                                type: object
                                description: Bridge fee breakdown.
                                properties:
                                  type:
                                    type: string
                                    description: >-
                                      Identifier for the bridge provider fee breakdown.
                                    enum:
                                      - across
                                    example: across
                                    x-gitbook-description-html: >-
                                      <p>Identifier for the bridge provider fee breakdown.</p>
                                  relayerCapital:
                                    type: object
                                    description: Relayer capital portion of the bridge fee.
                                    properties:
                                      amount:
                                        type: string
                                        example: '46867294561'
                                      pct:
                                        type: string
                                        example: '99980468145248'
                                      token:
                                        type: object
                                        properties:
                                          address:
                                            type: string
                                            example: >-
                                              0x4200000000000000000000000000000000000006
                                          decimals:
                                            type: integer
                                            example: 18
                                          symbol:
                                            type: string
                                            example: WETH
                                          chainId:
                                            type: integer
                                            example: 10
                                    x-gitbook-description-html: >-
                                      <p>Relayer capital portion of the bridge fee.</p>
                                  destinationGas:
                                    type: object
                                    description: >-
                                      Destination chain gas portion of the bridge fee.
                                    properties:
                                      amount:
                                        type: string
                                        example: '4260773033213'
                                      pct:
                                        type: string
                                        example: '9089367895086142'
                                      token:
                                        type: object
                                        properties:
                                          address:
                                            type: string
                                            example: >-
[...]
